.feature-2 {
  background-color: #efefef;

  .feature-2-inner {
    display: flex;
    justify-content: center;

    @media screen and (min-width: 526px) {
      height: 50rem;
    }

    @media screen and (min-width: 992px) {
      height: 60rem;
    }

    @media screen and (max-width: 525px) {
      display: block;
      width: 100%;

      &:before {
        float: left;
        padding-top: calc(622.7 * 100% / 390);
        content: "";
      }
      &::after {
        display: block;
        content: "";
        clear: both;
      }
    }

    svg {
      &:global(#steps-m) {
        display: none;
      }

      height: 100%;

      @media screen and (max-width: 525px) {
        display: none;

        &:global(#steps-m) {
          display: block;
        }
      }

      @for $i from 1 through 11 {
        :global(#step-#{$i}-container) {
          &:hover {
            // transform: scale(1.01);
            // transform-origin: center center;
            // transition: transform 0.2s;
            filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
            -webkit-filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
            filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
            -ms-filter: url(#drop-shadow);
            filter: url("#drop-shadow");
          }
        }

        :global(#step-m-#{$i}-container) {
          &:hover {
            filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
            -webkit-filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
            filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
            -ms-filter: url(#drop-shadow-m);
            filter: url("#drop-shadow-m");
          }
        }
      }
    }
  }
}
